<packages>
  <package id="mscorlib" version="2.0.5.0" targetFramework="MonoTouch" />
  <package id="System" version="2.0.5.0" targetFramework="MonoTouch" />
  <package id="System.Core" version="2.0.5.0" targetFramework="MonoTouch" />
  <package id="System.Data" version="2.0.5.0" targetFramework="MonoTouch" />
</packages>